@font-face {
	font-family: RetroFont;
	src: url(./Fuentes/retro.otf);
}
*{
	font-family: Retrofont;
}
h1, h2, p, .text{
	color: #cbedd1;
	clear: both;
}

body{
	background: #17351c;
	height:100%;
}

.CRT{
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: url("./Imagenes/CRT.gif") repeat fixed;
	opacity: 0.7;
	left: 0!important;
	top: 0!important;
	z-index: 1000000000;
}

.tablaHW{
	border: solid #cbedd1;
	border-width: 1px;
}
.tablaHW tr{
	border: solid #cbedd1;
	border-width: 1px;
}
.tablaHW tr th{
	border: solid #cbedd1;
	border-width: 1px;
}
.tablaHW tr td{
	border: solid #cbedd1;
	border-width: 1px;
}