@font-face {
	font-family: RetroFont;
	src: url(../Fuentes/retro.otf);
}

h1, h2, p, .text{
	color: #cbedd1;
	font-family: Retrofont;
}

html{
	background-color: #17351c;
}

.CRT{
	position: fixed;
	width: 100%;
	height: 100%;
	background: url("../Imagenes/CRT.gif") repeat fixed;
	opacity: 0.7;
	left: 0!important;
	top: 0!important;
}

